<div id="delete-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Wanna delete this upload?</h3>
  </div>
  <div class="modal-body">
    <form>
    <p style="text-align:center">
      <a href="#" class="btn btn-large btn-primary btn-danger confirm">Yes, delete it</a>
      <a href="#" class="btn btn-large cancel">No, keep it</a>
    </p>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn closer">Close</a>
  </div>
</div>
