<div id="annotate-add" style="display:none">
<form>
  {% module xsrf_form_html() %}
  <input type="hidden" name="type">
  <input type="hidden" name="latlngs">
  <input type="hidden" name="radius">
  <input type="hidden" name="options">
  <input name="title" size="30" class="annotation-title" maxlength="160" placeholder="Write something...">
</form>
</div>

<div id="annotate-edit" style="display:none">
<form class="form-edit">
  {% module xsrf_form_html() %}
  <input type="hidden" name="id">
  <input name="title" size="30" id="id-annotate-title-edit"><br>
  <input type="submit" value="Save">
  <input type="button" name="cancel" value="Cancel" class="button-cancel">
</form>
</div>

<div id="annotate-delete" style="display:none">
<form class="form-delete">
  {% module xsrf_form_html() %}
  <input type="hidden" name="id">
  <p>Sure?</p>
  <input type="submit" value="Yes" class="button-primary">
  <input type="button" name="cancel" value="Cancel" class="button-cancel">
</form>
</div>
