<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Your HUGEpic upload</title>

<style type="text/css">
p.the-url { text-align: center }
p.the-url a { font-size: 140%; font-weight: bold; }
{% include "_email.css" %}
</style>

</head>

<body bgcolor="#FFFFFF">

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi, {% if name %}{{ name }}{% end %}</h3>
						<p class="lead">The wonderful picture you uploaded is now fully processed.</p>
                                                <p>You can view you HUGE picture at:</p>

                                                <p class="the-url">
                                                    <a href="{{ url }}">{{ url }}</a><br>
                                                    <a href="{{ url }}"><img src="{{ thumbnail_url }}" /></a>
                                                </p>

                                                {% if was_unsubscribed %}
                                                <p><strong>Note!</strong>
                                                I know you have <strong>unsubscribed</strong>
                                                but there was no other way to tell you
                                                the upload is finished and this is your URL.
                                                </p>
                                                {% end %}

					</td>
				</tr>
			</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->


{% include "_email_footer.html" %}

</body>
</html>
