{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="span12">
    <h2>About this site</h2>
    <ul>
      <li>This is an <strong>experiment</strong>.</li>
      <li>The goal is to make it possible to <strong>annotate</strong> uploaded pictures.</li>
      <li><strong>&quot;Enterprise features&quot;</strong> (private uploads, comments &amp; annotation approvals) are planned but low priority.</li>
      <li>The <a href="https://github.com/peterbe/tiler">code</a> is Open Source.</li>
      <li>My name is <a href="http://www.peterbe.com">Peter Bengtsson</a> and I'm happily hacking away on this on evenings and weekends.</li>
    </ul>
  </div>
</div>
{% end %}
