{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="span12">
    <h2>About this site</h2>
    <ul>
      <li>My name is <a href="http://www.peterbe.com">Peter Bengtsson</a> and I'm happily hacking away on this on evenings and weekends.</li>
      <li>The mapping library used is <a href="http://leaflet.cloudmade.com/">Leaflet</a> from <a href="http://cloudmade.com">CloudMade</a>.</li>
      <!--<li><strong>&quot;Enterprise features&quot;</strong> (private uploads, comments &amp; annotation approvals) are planned but low priority.</li>-->
      <li><a href="https://github.com/peterbe/tiler">The code</a> is Open Source.</li>
      <li>This is an <strong>experiment</strong>.</li>
    </ul>
  </div>
</div>
{% end %}
