<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tiler</title>
    {% block css %}
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" type="text/css">
    {% end %}

    {% block extra_head %}
    {% end %}
  </head>
  <body {% block body_tag %}{% end %}>
  {% block main %}
  {% end %}

  <script src="{{ static_url('libs/jquery-1.8.0.min.js') }}"></script>
  <!--
    <script src="{{ static_url('libs/jstorage.js') }}"></script>
    <script>
    $(function() {
      var username = $.jStorage.get('username', null);
      if (username) {
        console.log('logged in', username);
      }
    });
    </script>
  -->

  {% block extra_js %}
  {% end %}
  </body>
</html>
