{% extends "base.html" %}

{% block main %}

  <div class="row">
    <div class="twelve columns">
      <h2>Download</h2>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <form>

        <label>URL:</label>
        <input name="url" style="font-size:150%">
        <button>Go!</button>
      </form>
    </div>

    <div id="progress" class="row" style="display:none">
    
      <dl>
        <dt>Expected size:</dt>
        <dd><code id="expected_size"></code></dd>
    
        <dt>Content type:</dt>
        <dd><code id="content_type"></code></dd>
    
        <dt>Left to download:</dt>
        <dd><code id="left"></code></dd>
    
        <dt>Downloaded so far:</dt>
        <dd><code id="downloaded">0</code></dd>
      </dl>
    
    </div>
    
    <div id="complete" class="row" style="display:none">
    
      <h2 style="color:green">Done!</h2>
      <h3><a href="" id="url"></a></h3>
    
    </div>
    
    
    <div id="error" class="row" style="display:none">
      <h2 style="color:red">Error :(</h2>
      <code id="errormessage"></code>
    </div>
    
    
  </div>




{% end %}

{% block extra_js %}
<script src="{{ static_url('download.js') }}"></script>
{% end %}
