<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    {% if og_image_url %}
    <meta property="og:image" content="{{ og_image_url }}">
    {% end %}
    <title>{{ page_title }} on {{ PROJECT_TITLE }}</title>

    {% if can_edit %}
    {% module LinkTags('bootstrap/css/bootstrap.min.css', 'bootstrap/css/bootstrap-modal.min.css', 'css/libs/leaflet.draw.css') %}
    {% end %}

    {% module LinkTags('css/libs/leaflet.css', 'css/image.css') %}
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
    <![endif]-->

    {% if can_edit %}
    <!--[if lte IE 8]>
    {% module LinkTags('css/libs/leaflet.draw.ie.css') %}
    <![endif]-->
    {% end %}
  </head>
  <body
  data-image="{{ image_filename }}"
  data-range-min="{{ ranges[0] }}"
  data-range-max="{{ ranges[-1] }}"
  data-default-zoom="{{ default_zoom }}"
  data-extension="{{ extension }}"
  data-age="{{ age }}"
  data-prefix="{{ prefix }}"
  >

    <div id="map">
    </div>
    <div id="track-stats" style="display:none">
      <span></span> downloaded
    </div>
    <div id="topnav">
      <ul>
        <li><a href="/"><strong>{{ PROJECT_TITLE }}</strong></a></li>
        {#<li><a href="{{ reverse_url('upload') }}" class="upload">Upload another</a></li>#}
        <li><a href="" class="permalink">permalink</a>
        <input name="permalink" class="permalink" style="display:none">
        <a href="#" class="close-permalink" style="display:none">&times;</a>
        </li>
        {% if can_edit %}
        <li><a href="#" class="edit" data-toggle="modal" data-target="#edit-modal">Edit</a></li>
        {% end %}
      </ul>
    </div>
    {% module xsrf_form_html() %}

    {% if can_edit %}
    {% include "_edit_modal.html" %}
    {% include "_delete_modal.html" %}
    {% include "_edit_snippets.html" %}
    {% end %}

    {% if debug %}
      {% module ScriptTags('libs/jquery-1.8.2.min.js') %}
    {% else %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% end %}

    <script>
    var MARKER_SHADOW_URL = '{{ static_url('libs/images/marker-shadow.png') }}',
        MARKER_ICON_URL = '{{ static_url('libs/images/marker-icon.png') }}';
    </script>
    {% module ScriptTags('libs/leaflet.min.js', 'leafletmap.js') %}
{#    {% module ScriptTags('libs/leaflet.js', 'leafletmap.js') %}#}

    {% if can_edit %}
    {% module ScriptTags('libs/head.load.min.js') %}
    <script>
    var modal_js_url = '{% module StaticURL('bootstrap/js/bootstrap-modal.min.js') %}';
    var editing_url = '{% module StaticURL('edit.js') %}';
    var draw_url = '{% module StaticURL('libs/leaflet.draw.min.js') %}';
    function map_loaded_callback(map) {
      setTimeout(function() {
        head.js(modal_js_url, editing_url, draw_url, function() {
          Editing.setup(map);
        });
      }, 1000);
    }
    </script>
    {% end %}
  </body>
</html>
