{% extends "base.html" %}

{% block main %}

  <div class="row">
    <div class="twelve columns">
      <h2>Tiler</h2>
      <p>So you can upload HUGE pictures.</p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <h3>Getting Started</h3>

      <p><a href="{{ reverse_url('upload') }}">Upload by URL</a></p>

    </div>


    <div class="four columns">
      <h4>Examples</h4>
      <p>Here are some examples...</p>

      <ul class="disc">
        {% for i, each in enumerate(recent_fileids) %}
        <li><a href="{{ reverse_url('image', each) }}">Example {{ i+1 }}</a>
        <img src="{% module ThumbnailURL(each, 100, 'png') %}">
        </li>
        {% end %}
      </ul>
    </div>
  </div>



{% end %}
