{% extends "base.html" %}

{% block main %}

      <div class="hero-unit">
        <h1>Tiler</h1>
        <p>When you want to upload HUGE pictures that you can zoom in on like a map.</p>
        <p><a href="{{ reverse_url('upload') }}" class="btn btn-primary btn-large">Get started &raquo;</a></p>
      </div>

      {% for i, recent_fileids in enumerate(recent_fileids_rows) %}
      <div class="row">
        {% for j, each in enumerate(recent_fileids) %}
        <div class="span3">
          <h3>Example {{ (i * 4) + (j + 1) }}</h3>
	  <a href="{{ reverse_url('image', each) }}"><img src="{% module ThumbnailURL(each, 100, 'png') %}" alt="Screenshot"></a>
          <p><a class="btn" href="{{ reverse_url('image', each) }}">Browse &raquo;</a></p>
        </div>
	{% end %}
      </div>
      {% end %}


{% end %}
