{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="span12">
    <h2>Privacy Policy</h2>
    <h4>Information we collect; how we use it</h4>
    <p>Automatically collected technical information: Our servers log
    information about each computer connecting with our site such as IP
    address, device characteristics, operating system, browser type, type
    of connection, page and image viewing statistics, and incoming and
    outgoing links. We associate this information with comments you post
    or votes you enter. We also log the metadata associated with any
    images or videos you upload. None of this automatically collected
    technical information is associated with any identified person at the
    time it is collected, but it could be associated with you under two
    circumstances: First, if you choose to give us personal data about you
    as described below, the technical information we collect that would
    otherwise be anonymous could instead be logged as coming from you; and
    second, if we are required to disclose our server logs as a result of
    a subpoena or other legal process, some third party such as your
    internet provider could match our anonymous technical information with
    you, using information beyond what is found on our servers.
    </p>

    <p>
    We may use cookies, web beacons, or other anonymous tracking
    information to improve our server’s interaction with your computer,
    and we may partner with third party advertisers who may (themselves or
    through their partners) place or recognize a unique cookie on your
    browser. These cookies enable more customized ads, content or services
    to be provided to you. To trigger these cookies, we may pass an
    encrypted or “hashed” (non-human readable) identifier corresponding to
    your email address to a Web advertising partner, who may place a
    cookie on your computer. No personally identifiable information is on,
    or is connected to, these cookies. To opt-out of these cookies, please
    go to <a href="http://www.privacychoice.org/choose"
    >http://www.privacychoice.org/choose</a>.
    </p>

    {% if 0 %}
    <p>
    We use third-party advertising companies to serve ads when you
    visit our Website. These companies may use information (not including
    your name, address email address or telephone number) about your
    visits to this and other Web sites in order to provide advertisements
    about goods and services of interest to you. If you would like more
    information about this practice and to know your choices about not
    having this information used by these companies,
    <a href="http://networkadvertising.org/">click here</a>.
    </p>
    {% end %}

    <p>Personal data you choose to give us: We collect whatever personal
    data about you that you choose to give us, such as name, email
    address. We consider such personal data to be “Private Data,” and
    subject to the “Personal Data Protection” paragraph below, with the
    following exception: Any data (text, images, videos, etc.) you post to
    a public forum on our site, linked to or from our site, or share via a
    social networking function, will not be considered “Private Data” and
    will not be subject to the “Personal Data Protection” paragraph below.
    </p>

    <h4>Personal Data Protection</h4>
    <p>{{ PROJECT_TITLE }} does not disclose to any third party Private Data you have
    given us, except to the extent necessary for credit card processing;
    in such cases your Private Data is used by credit card processors only
    for that purpose (including guarding against credit card fraud). The
    only exception, obviously, is if we are forced to disclose the
    information as a result of a subpoena or other legal process. You may
    correct, amend, or delete inaccurate Private Data information you have
    given us, although any credit card transactions that have already
    taken place will be unaffected. For legal reasons we may retain backup
    and/or archival copies of information prior to your corrections,
    amendments, or deletions. We take every reasonable precaution to
    protect your Private Data from loss, misuse, unauthorized access,
    disclosure, alteration, or destruction. You are responsible for taking
    every reasonable precaution on your end to protect any unauthorized
    person from accessing your {{ PROJECT_TITLE }} account.
    </p>

    <p>If you have any questions about our use of your Private Data,
    please contact us at privacy@hugepic.io.
    </p>

    <p>We may revise our privacy policy from time to time without
    notice.
    </p>

  </div>
</div>
{% end %}
