    <div id="progress-giveup" class="row" style="display:none">

      <h3>It's taking too long unfortunately. Not sure why.</h3>
      <p>
      <strong>If</strong> the upload finished at least the job will be queued
      and you will receive an email once it's completed.</p>

      <p><strong>If</strong> the initial upload ever worked (perhaps it just timed out)
      you will unfortunately have to simply try again. Possibly just a stuck temporary Internet connection.</p>

      <p>Till then, check out
      <a href="/">Existing samples</a>
      </p>

    </div>
