    <div id="terms" class="row span12 faded">

      <h3>Terms and Conditions</h3>
      <p>
      Accessing any page of our website other than our home page and
      this "Terms" page constitutes your consent to these terms of use and
      to our Privacy Policy. If you do not consent, do not use our website.
      </p>
      <p>
      Your use of our website to do anything beyond simply
      accessing/viewing it (that is, uploading, downloading, commenting,
      etc.), constitutes not merely your consent, but also your electronic
      signature, meaning that you are contractually bound by these terms and
      by the Privacy Policy.
      </p>

      <h4>Big no no</h4>
      <p>
      If someone else might own the copyright to it, don’t upload it. Don’t
      upload gore, obscenity, advertising, solicitations, "hate speech"
      (i.e. demeaning race, gender, age, religious or sexual orientation,
      etc.), or material that is threatening, harassing, defamatory, or that
      encourages illegality. Don’t hotlink to such content, or to
      file-sharing or torrent sites. Don’t be a troll or a jerk. Don't
      impersonate someone else. If you do (and we will be the judge), or if
      you do anything illegal, in addition to any other legal rights we may
      have, we will ban you along with the site you're hotlinking from,
      delete all your images, report you to the authorities if necessary,
      and prevent you from viewing any images hosted on {{ PROJECT_TITLE }}.
      </p>

      <h4>Yes please!</h4>
      <p>
      If you see anything on our site that shouldn’t be there because
      it violates our policies or for any other reason, please let us know
      by emailing us at abuse@hugepic.io.
      </p>
      <p>
      Avoid foul language for anything you make publicly available.
      Use asterisks *** to self-bleep if you must. But come on, most of the
      time there are plenty of better, more descriptive words!
      </p>
    </div>
