{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
form button { font-size: 150%; }
</style>
{% end %}

{% block main %}

  <div class="row">

      {% if user %}
      <div class="span5">
        <h2>Upload by URL</h2>
        <form class="form-search">
          <label>URL:</label>
          <input name="url" placeholder="http://.../something.jpg">
          <button type="submit" class="btn">Go!</button>
        </form>
      </div>

      <div class="span5">
        <h2>Upload with Filepicker.io&trade;</h2>
        <form>
        <input onchange="files_picked(event.files)"
               data-fp-option-services="BOX,COMPUTER,DROPBOX,GOOGLE_DRIVE,FLICKR,GMAIL,IMAGE_SEARCH,URL,WEBCAM"
               data-fp-option-container="modal"
               data-fp-apikey="AFC21lQ73SYmfQT2Ya4oSz"
               type="filepicker-dragdrop">
               <!-- data-fp-option-multiple="true"-->

        <!--
        <p style="text-align:center;margin-top:50px">
          <a href="https://www.filepicker.io/partner/link/"
           ><img src="https://www.filepicker.io/partner/badge/white/"
             alt="Powered By Filepicker.io"></a>
        </p>
        -->

        </form>
      </div>
      {% else %}
      <div class="error span12">
        <h3>Not logged in</h3>
	<p>You <strong>have to be signed in</strong> to be able to upload large pictures.</p>
      </div>
      {% end %}

  </div>

  <div class="row">
    {% include "preprogress.upload.html" %}
    {% include "progress.upload.html" %}
    {% include "precomplete.upload.html" %}
    {% include "complete.upload.html" %}
    {% include "error.upload.html" %}
  </div>


{% end %}

{% block extra_js %}
<script src="https://api.filepicker.io/v0/filepicker.js"></script>
<script type="text/javascript">
filepicker.setKey('AFC21lQ73SYmfQT2Ya4oSz');
var PREVIEW_URL = '{{ reverse_url('upload_preview') }}';
var REALLY_URL = '{{ reverse_url('upload_download') }}';
var PROGRESS_URL = '{{ reverse_url('upload_progress') }}';
</script>

{% module ScriptTags('libs/humanize.js', 'download.js') %}
{% end %}
