body {
    padding-top: 60px;
    padding-bottom: 40px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}


img.gravatar {
    border-radius: 16px;
}

footer p {
    text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .featured-past { display: none; }
    .hero-unit h1 { font-size: 40px; }
    .hero-unit { padding: 20px; }
}
