/* http://meyerweb.com/eric/tools/css/reset/ */
      /* v1.0 | 20080212 */
      html,body,div,span,applet,object,iframe,
      h1,h2,h3,h4,h5,h6,p,blockquote,pre,
      a,abbr,acronym,address,big,cite,code,
      del,dfn,em,font,img,ins,kbd,q,s,samp,
      small,strike,strong,sub,sup,tt,var,
      b,u,i,center,
      dl,dt,dd,ol,ul,li,
      fieldset,form,label,legend,
      table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
      body{line-height:1;}
      ol,ul{list-style:none;}
      blockquote,q{quotes:none;}
      blockquote:before,blockquote:after,
      q:before,q:after{content:'';content:none;}
      /* remember to define focus styles! */
      :focus{outline:0;}
      /* remember to highlight inserts somehow! */
      ins{text-decoration:none;}
      del{text-decoration:line-through;}
      /* tables still need 'cellspacing="0"' in the markup */
      table{border-collapse:collapse;border-spacing:0;}



body,html {
  height:100%;
  overflow:hidden;
  font-family:Helvetica;
  color:rgb(30,30,30);
}
/* oh firefox... why you gotta be so weird and fussy about this... */
#map {
	height: 100% !important;
}

/* do I still need this? */
g circle {
  fill: #aa0000;
  stroke: #fafafa;
  stroke-width: 3px;
}


/* For permalink modal */
#permalink-modal p {
  margin-top: 25px;
}
#permalink-modal a.switch {
  font-size: 80%;
}
#permalink-modal a.chosen {
  color: #666;
}
#permalink-modal a.chosen:hover {
  text-decoration: none;
}
input.permalink { width: 330px; }

/* For editing */
input.button-primary {
  font-weight: bold;
}
input.button-cancel {
  font-size: 0.8em;
}
input.error, textarea.error {
  border: 1px solid red;
}

#track-stats {
  left: 0; bottom: 0;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  font-size: 0.7em;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #BBB;
}


.leaflet-control-custom {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 5px;
}

.leaflet-control-custom a {
  background-color: rgba(255, 255, 255, 0.75);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  width: 19px;
  height: 19px;
}

.leaflet-control-custom a:first-child{
  margin-top: 0;
}

.leaflet-control-draw a:hover {
  background-color: #fff;
}

.leaflet-touch .leaflet-control-custom a {
  width: 26px;
  height: 26px;
}

/* I generated all this sprite stuff with
 *
 *  glue --padding=5 static/control-icons /tmp/
 *
 * and then I copied /tmp/control-icons.png here
 * and manually copied from /tmp/control-icons.css
 */

.leaflet-control-custom-home,
.leaflet-control-custom-permalink,
.leaflet-control-custom-fullscreen,
.leaflet-control-custom-unfullscreen,
.leaflet-control-custom-edit {
  background-image: url(../images/control-icons.png);
  background-repeat: no-repeat;
}

a.leaflet-control-custom-home {
  background-position:0px -26px;
  width:26px;height:26px;
}

a.leaflet-control-custom-permalink {
  background-position:-26px 0px;
  width:26px;height:26px;
}

a.leaflet-control-custom-fullscreen {
  background-position:-26px -26px;
  width:26px;height:26px;
}

a.leaflet-control-custom-unfullscreen {
  background-position:0px 0px;
  width:26px;height:26px;
}

a.leaflet-control-custom-edit {
  background-position:-52px 0px;
  width:26px;height:26px;
}

a.leaflet-control-custom-comment {
  background-image: url(../images/control-icons/comment.png);
  background-repeat: no-repeat;
  width:26px;height:26px;
}

#comment-modal div.comment {
  border-bottom: 1px solid #efefef;
  padding: 10px;
}
#comment-modal .comments-outer blockquote {
  margin: 10px;
  font-style: italic;
}
#comment-modal .comments-outer div p {
  font-size: 80%;
}
#comment-modal .comments-outer a.pan-to {
  font-size: 80%;
  float: right;
}
#comment-modal .not-signed-in p {
  text-align: center;
  margin: 20px;
}
