{% extends "admin_base.html" %}

{% block page_title %}{{ image['fileid'] }}{% end %}

{% block main %}

<div class="row">

  <div class="span12">
    <h2>Image <a href="{{ reverse_url('image', image['fileid']) }}">{{ request.protocol }}://{{ request.host }}{{ reverse_url('image', image['fileid']) }}</a></h2>
    <dl         class="dl-horizontal">
      <dt>Tiles:</dt>
      <dd>
        <a href="{{ reverse_url('admin_tiles', image['fileid']) }}" {% if image['too_few_tiles'] %}style="color:red"{% else %}style="color:green"{% end %}>
        {{ image['found_tiles'] }}
        /
        {{ image['expected_tiles'] }}</a>
        {% if image['too_few_tiles'] %}
        <form action="{{ reverse_url('admin_prepare_all_tiles', image['fileid']) }}" method="post">
        <button class="btn btn-mini" type="submit">re-submit</button>
        </form>
        {% end %}
      </dd>

      <dt>Age:</dt>
      <dd>
        <abbr title="{{ image['date'] }}">{% module TimeSince(image['date']) %}</abbr>
      </dd>

      <dt>User:</dt>
      <dd>
        <a href="mailto:{{ image['user'] }}">{{ image['user'] }}</a>
        <a href="#" class="resend" style="font-size:.8em">resend</a>
        <form class="resend" style="display:none"
              action="{{ reverse_url('admin_resend_email', image['fileid']) }}"
              method="post">
        <input name="email" value="{{ image['user'] }}">
        <button class="btn btn-mini" type="submit">resend</button>
        </form>
      </dd>

      <dt>CDN:</dt>
      <dd>
        {% if image.get('cdn_domain') %}
        <code>{{ image['cdn_domain'] }}</code>
        <form action="{{ reverse_url('admin_unset_cdn', image['fileid']) }}" method="post">
        <button class="btn btn-mini" type="submit">unset</button>
        </form>
        {% else %}
          {% if uploading_locked %}
            locked: <code>{{ uploading_locked }}</code>
            <form action="{{ reverse_url('admin_unlock_awsupload', image['fileid']) }}" method="post">
            <input class="btn btn-mini" type="submit" value="unlock">
            <input class="btn btn-mini" name="lock_more" type="submit" value="lock more">
            </form>
          {% else %}
            view to start
            <form action="{{ reverse_url('admin_lock_awsupload', image['fileid']) }}" method="post">
            <input class="btn btn-mini" type="submit" value="lock">
            </form>
          {% end %}
        {% end %}
      </dd>

      <dt>Featured:</dt>
      <dd {% if image.get('featured', True) %}style="color:green"{% else %}style="color:red"{% end %}>
        {{ image.get('featured', True) and 'Yes' or 'No' }}
        <form action="{{ reverse_url('admin_toggle_featured', image['fileid']) }}" method="post">
        <button class="btn btn-mini" type="submit">toggle</button>
        </form>
      </dd>

      <dt>Size:</dt>
      <dd>
          {% if image.get('width') and image.get('height') %}
            {% module Thousands(image['width']) %} &times; {% module Thousands(image['height']) %}<br>
          {% end %}
      </dd>
      <dd>{% module ShowFileSize(image['size']) %}</dd>

      <dt>Ranges:</dt>
      <dd>
        {{ ', '.join(str(int(x)) for x in image['ranges']) }}
      </dd>

      <dt>Served:</dt>
      <dd>
        {% if image.get('bytes_served') %}
        {% module ShowFileSize(image['bytes_served']) %}
        {% else %}0{% end %}
      </dd>

      <dt>Hits:</dt>
      <dd>
        {{ image['hits'] }}
        ({{ image['hits_this_month'] }} this month)
      </dd>

      <dt>Source:</dt>
      <dd>
        <a href="{{ image['source'] }}" title="{{ image['source'] }}"
        >{% module ShortenURL(image['source'], just_domain=True) %}</a>
      </dd>

      <dt>Title:</dt>
      <dd>
        {% if image.get('title') %}
        <blockquote>{{ image['title'] }}</blockquote>
        {% else %}
        <i>none</i>
        {% end %}
      </dd>

      <dt>Description:</dt>
      <dd>
        {% if image.get('description') %}
        <blockquote>{{ image['description'] }}</blockquote>
        {% else %}
        <i>none</i>
        {% end %}
      </dd>


    </dl>
  </div>
</div>
{% end %}

{% block extra_js %}
<script>
$(function() {
  $('a.resend').click(function() {
    if ($('form.resend:visible').size()) {
      $('form.resend').hide();
    } else {
      $('form.resend').show();
    }
  });
});
</script>
{% end %}
