{% extends "admin_base.html" %}

{% block main %}

<div class="row">

  <div class="span12">
    <div style="float:right">
      <form id="#resubmit" method="post"
       action="{{ reverse_url('admin_prepare_all_tiles', image['fileid']) }}">
        <button type="submit">Resubmit to prepare all tiles</button>
      </form>
    </div>
    <h2>
      Image
      <a href="{{ reverse_url('admin_image', image['fileid']) }}">{{ image['fileid'] }}</a>
      <a href="{{ reverse_url('image', image['fileid']) }}">view</a>
    </h2>
    <h3># Found tiles: {{ image['found_tiles'] }}
    {% if found_tiles_before is not None %}
    (previous: {{ found_tiles_before }})
    {% end %}
    </h3>


    <h3># Expected tiles: {{ image['expected_tiles'] }}</h3>
    <table class="table table-condensed">
    {% for zoom in ranges %}
    {% for row in range(rows[zoom]) %}
    {% for col in range(cols[zoom]) %}
    <tr>
      <td>{{ zoom }}:</td>
      <td>{{ row }},{{ col }}</td>
      <td>
      {% if tiles[zoom]['%s,%s' % (row, col)] %}
      <span style="color:green">Yes</span>
      {% else %}
      <span style="color:red;font-weight:bold">No</span>
      {% end %}
      </td>
    </tr>
    {% end %}
    {% end %}
    {% end %}
    </table>
  </div>
</div>
{% end %}
