{% extends "admin_base.html" %}

{% block page_title %}Tweet {{ image['fileid'] }}{% end %}

{% block main %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2>Tweet This</h2>
    </div>
    <p style="float:right">
      <a href=..>Back to image admin page</a>
    </p>
    <form action="." method="post">
      <label>Tweet text</label>
      <textarea rows="3" name="text" style="font-size:120%;width:500px">{{ text }}</textarea>
      <span class="help-block" id="length"></span>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Tweet it</button>
        <button type="button" class="btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% end %}


{% block extra_js %}
<script>

$(function() {
  $('#length').text($('textarea').val().length);
  $('textarea').on('keypress', function() {
    $('#length').text($(this).val().length);
  })

});
</script>
{% end %}
