{% extends "admin_base.html" %}

{% block page_title %}Tweet {{ image['fileid'] }}{% end %}

{% block main %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <p style="float:right">
        <a href=..>Back to image admin page</a>
      </p>
      <h2>Tweet This</h2>
    </div>

      <p style="float:right">
	  <a href="{{ reverse_url('image', image['fileid']) }}"
          ><img class="thumbnail img-polaroid" src="{% module ThumbnailURL(image['fileid'], 300, image.get('contenttype', 'png')) %}" alt="Screenshot"></a>

    </p>
    <form action="." method="post">
      <label>Tweet text</label>
      <textarea rows="3" name="text" style="font-size:120%;width:500px">{{ text }}</textarea>
      <span class="help-block" id="length"></span>
      <label class="checkbox">
         <input type="checkbox" name="include_thumbnail" value="1" checked> Include thumbnail
      </label>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Tweet it</button>
        <button type="button" class="btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% end %}


{% block extra_js %}
<script>

$(function() {
  $('#length').text($('textarea').val().length);
  $('textarea').on('keypress', function() {
    $('#length').text($(this).val().length);
  })

});
</script>
{% end %}
